<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Peer to Peer Chat program</title>
  <link rel="stylesheet" th:href="@{/style.css}" />
  <meta charset="utf-8" />
</head>
<body>
  <h1>Peer to Peer Chat program</h1>
  <form method="post" th:action="@{/updateUsername}">
    <span>Your username</span>
    <input th:placeholder="${user.username}" type="text" th:name="username"/>
    <button type="submit" value="username">Update</button>
  </form>
  <ul th:each="message : ${messages} ">
    <li>
      <span th:text="${message.username}"></span><br/>
      <span th:text="${message.text}"></span>
    </li>
  </ul>
  <form method="post" th:action="@{/send}">
    <input type="text" th:name="message"/>
    <button type="submit" value="message">Send</button>
  </form>
</body>
</html>